@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; width: 100%; }
body { margin: 0 !important; padding: 0 !important; }

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
  body { @apply bg-background text-foreground; }
}
